<!--<div class="container">
<h1>
  {{title}}  
</h1>
<passenger-search> </passenger-search>
</div>-->


<nav class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Holiday42</a>
    </div>
    
    <ul class="nav navbar-nav">
        <li><a routerLink="home">Home</a></li> 
        <li><a routerLink="flight-search">Flight Search</a></li> 
        <li><a routerLink="passenger-search">Passenger Search</a></li>   
    </ul>
</nav>

<div class="container">
  
  <!--<flight-search></flight-search>-->
  <router-outlet></router-outlet>
</div>