<div style="padding:20px;"
     class="card"
     [ngStyle]="{'background-color': (selected) ?  'darkorange' : 'yellowgreen' }">

    <h3>{{item.name}}  {{item.firstName}}</h3>
    <p>Passagier-Nr. #{{item.id}}</p>
    <p>Status: {{ item.passengerStatus | status: 'long' }} </p>
    <p [ngStyle]="{color: item.passengerStatus | statusColor }">{{ item.passengerStatus | status: 'short' }} </p> 

    <p>
       <button class="btn btn-default" *ngIf="!selected" (click)="select()">Auswählen</button>
       <button class="btn btn-default" *ngIf="selected" (click)="deselect()">Entfernen</button> 
       <a class="btn btn-default" [routerLink]="['/passenger-edit', item.id, { showDetails: true }]">Edit</a>  
    </p>
</div>